<div class="content">
  <h1><%= title %></h1>

  <div class="example__slider">
    <%= html.html_safe %>
  </div>

  <script>
    <%= raw js %>
  </script>

  <div class="example__code">
    <div class="example__code-block">
      <div class="example__code-header">JS:</div>
      <pre class="example__code-body"><code class="javascript"><%= js %></code></pre>
    </div>

    <div class="example__code-block">
      <div class="example__code-header">HTML:</div>
      <pre class="example__code-body"><code class="html"><%= html %></code></pre>
    </div>
  </div>

  <h2>Examples</h2>
  <%= render 'pages/examples/list' %>
</div>

<%= render 'layouts/sidebar' %>