<%
full_html = <<-HTML
<html>
  <head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bxslider@4.2.17/dist/jquery.bxslider.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bxslider@4.2.17/dist/jquery.bxslider.min.js"></script>

    <script>
      $(document).ready(function(){
        $(".slider").bxSlider();
      });
    </script>

  </head>
  <body>

    <div class="slider">
      <div>I am a slide.</div>
      <div>I am another slide.</div>
    </div>

  </body>
</html>
HTML

manual = <<-HTML
// Links to the libraries needed
<link rel="stylesheet" href="/path/to/jquery.bxslider.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/path/to/jquery.bxslider.min.js"></script>
HTML

js = <<-HTML
// Initialize the slider
<script>
  $(document).ready(function(){
    $('.slider').bxSlider();
  });
</script>

// Slider HTML (change this to your own!)
<div class="slider">
  <div>I am a slide.</div>
  <div>I am another slide.</div>
</div>
HTML

bower = <<-HTML
// Links to the libraries needed
<link rel="stylesheet" href="/bower_components/bxslider/dist/jquery.bxslider.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/bower_components/bxslider/dist/jquery.bxslider.min.js"></script>

HTML

npm = <<-HTML
// Links to the libraries needed
<link rel="stylesheet" href="/node_modules/bxslider/dist/jquery.bxslider.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/node_modules/bxslider/dist/jquery.bxslider.min.js"></script>

HTML
%>

<div class="content">
  <div class="install__block">
    <div class="install__header">🤗 The Easy Way</div>

    <div class="install__block">
      <p><span class="emoji">✨</span> Click the numbers to learn about each section.</p>
      <div class="tour">
        <pre><code class="html"><%= full_html %></code></pre>

        <div class="tour__step tour__step--one">
          <div class="tour__step-title">1</div>
          <div class="tour__step-body">
            <h3>Include the bxSlider files</h3>
            <p>This code adds the required files to the webpage. These files need to be included before initializing the slider.</p>
          </div>
        </div>

        <div class="tour__step tour__step--two">
          <div class="tour__step-title">2</div>
          <div class="tour__step-body">
            <h3>Initialize the bxSlider plugin</h3>
            <p>This code tells the webpage to start the slider setup. Without this code the slider plugin would not be visible on the page.</p>
          </div>
        </div>

        <div class="tour__step tour__step--three">
          <div class="tour__step-title">3</div>
          <div class="tour__step-body">
            <h3>Create the HTML for the slider</h3>
            <p>This is the code that the slider plugin will use to generate the slides.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="install__block">
    <div class="install__header">🤔 The Other Ways</div>

    <div class="install__method">
      <h3>Manual</h3>
      <div class="install__method-block">
        <p>1. <a href="https://github.com/stevenwanderski/bxslider-4/archive/v4.2.17.zip">Download jquery.bxslider.zip here</a></p>
      </div>

      <div class="install__method-block">
        <p>2. Include in your webpage</p>
        <pre><code class="html"><%= manual %><%= js %></code></pre>
      </div>
    </div>

    <div class="install__method">
      <h3>Bower</h3>
      <div class="install__method-block">
        <p>1. Run from a command line</p>
        <pre><code class="bash">bower install bxslider --save</code></pre>
      </div>

      <div class="install__method-block">
        <p>2. Include in your webpage</p>
        <pre><code class="html"><%= bower %><%= js %></code></pre>
      </div>
    </div>

    <div class="install__method">
      <h3>NPM</h3>
      <div class="install__method-block">
        <p>1. Run from a command line</p>
        <pre><code class="bash">npm install bxslider --save</code></pre>
      </div>

      <div class="install__method-block">
        <p>2. Include in your webpage</p>
        <pre><code class="html"><%= npm %><%= js %></code></pre>
      </div>
    </div>

  </div>
</div>

<%= render 'layouts/sidebar' %>

<script>
  $(function(){
    $('.tour__step-title').on('click', function(){
      var $sibling = $(this).next('.tour__step-body');
      $('.tour__step-body').not($sibling).hide();
      $sibling.toggle();
    });

    $(document).on('click', function(e){
      if (!$(e.target).is('.tour__step-title')) {
        $('.tour__step-body').hide();
      }
    });
  });
</script>