<!DOCTYPE html>
<html>
  <head>
    <title>jQuery Slider | Responsive jQuery Slider | bxSlider</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="jquery slider, bxslider, image slider, content slider, responsive image gallery, responsive image gallery, image fade, image rotator" />
    <meta name="description" content="Add a respsonsive image slider to any website." />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="<%= asset_path 'icon-star.png' %>" />
    <link href="https://fonts.googleapis.com/css?family=Overpass+Mono:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,500,600,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/9.9.0/styles/github-gist.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/highlight.min.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <main>
      <%= yield %>
    </main>

    <%= render 'layouts/personal' %>
    <%= render 'layouts/footer' %>
    <%= render 'layouts/analytics' %>
    <%= render 'layouts/adblock_detect' %>

    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>